@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  color: #ffffff;
  -web-font-smoothing: antialiased;
}

html{
  background: linear-gradient(120deg, #03000c -14.45%, #020107 106.15%);
}